.header {
    background-color: rgb(140, 60, 135);
    padding: 50px 0;
    margin: 0 auto 50px;
}

.header__item {
    color: #e0bdbd;
    font-size: 24px;
}

.header__item {
    color: #e0bdbd;
    font-size: 24px;
}

.header__item:not(:last-child) {
    margin-right: 30px;
}

.header__item:hover {
    text-decoration: underline;
}
